.container {
  position: relative;
  padding: 30px;
  /* TODO: Make varibles */
  background-color: var(--sBeige-fade);
  border: 1px solid var(--cBorder);
}

@media screen and (max-width: 560px) {
  .container {
    padding: 16px;
  }
}
