.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem 3rem;
  max-width: 900px;
  width: 100%;
}

.container .logo {
  max-width: 320px;
}
.container.full .logo {
  max-width: 235px;
}

.container hr {
  border: 2px solid #895734;
  height: 152px;
  margin: 0 1rem 0 1rem;
}
.container.full hr {
  height: 118px;
}

.container.full nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container h1 {
  font-size: 64px;
  text-align: left;
  color: #895734;
  margin: 0;
}
.container.full nav h1 {
  font-size: 42px;
  margin: 0 0.5rem 0 0;
}

.container.full nav .mainMap,
.container.full nav .busMap {
  position: relative;
  text-decoration: none;
}

.container.full nav .mainMap {
  width: fit-content;
  height: 76px;
  background: url("../../static/btn_mainmap_normal.png") no-repeat center
    center/contain;
}
.container.full nav .mainMap::after {
  content: "MAIN MAP";
  display: inline-block;
  position: relative;
  min-width: max-content;
  top: 76px;
  right: 0.5rem;
  font-size: 24px;
  color: #895734;
}
.container.full nav .mainMap:hover {
  background: url("../../static/btn_mainmap_hover.png") no-repeat center
    center/contain;
}
.container.full nav .mainMap:active {
  background: url("../../static/btn_mainmap_pressed.png") no-repeat center
    center/contain;
}

.container.full nav .busMap {
  width: 76px;
  height: 76px;
  border: 0;
  background: url("../../static/btn_busi_normal.png") no-repeat center
    center/contain;
}
.container.full nav .busMap::after {
  content: "BUSINESS MAP";
  display: inline-block;
  position: relative;
  min-width: max-content;
  top: 76px;
  right: 0.5rem;
  font-size: 24px;
  color: #895734;
}
.container.full nav .busMap:hover {
  background: url("../../static/btn_busi_hover.png") no-repeat center
    center/contain;
}
.container.full nav .busMap:active {
  background: url("../../static/btn_busi_pressed.png") no-repeat center
    center/contain;
}

/* TODO: Need actual image. */
.container.full nav button {
  width: 64px;
  height: 64px;
  border: 0;
  background: url("../../static/btn_logout_normal.png") no-repeat center
    center/contain;
}
.container.full nav button:hover {
  background: url("../../static/btn_logout_hover.png") no-repeat center
    center/contain;
}
.container.full nav button:active {
  background: url("../../static/btn_logout_pressed.png") no-repeat center
    center/contain;
}
