.resultsContainer {
  min-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bannerImage {
  width: 100%;
}
.eventSelection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.otherContainer {
  padding: 0;
  margin: 0;
  max-height: 500px;
  min-height: 400px;
  width: 90%;
  overflow: auto;
  scroll-behavior: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.otherContainer li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% / 2 - 40px);
  max-height: 180px;
  margin: 10px;
  color: var(--pbrown);
  min-width: 350px;
}
.otherContainer li:last-child {
  margin-right: auto;
}
.otherContainer .winnerContainer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: auto;
  max-height: 180px;
  overflow: auto;
}
.winnerContainer h3 {
  font-size: 28px;
}
.winnerContainer address {
  font-family: "Corbal", arial;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.9;
}
.winnerContainer div {
  min-width: 150px;
}
.otherContainer img {
  width: 120px;
}
.otherImageContainer {
  position: relative;
}
.otherImageContainer .partnerLogo {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0px;
  object-fit: contain;
  transition: all 0.2s linear;
}
.otherImageContainer .partnerLogo:hover {
  transform: scale(2);
}
.resultDisplayTop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--pbrown);
}
.resultDisplayTop h3 {
  font-size: 28px;
  margin-top: 20px;
}
.resultDisplayTop li p {
  font-family: "Corbal", arial;
  font-weight: bold;
  font-size: 24px;
  opacity: 0.9;
}
.resultDisplayTop img {
  width: 250px;
  height: 250px;
}
.resultDisplayTop ul {
  list-style: none;
  text-align: left;
}
.resultDisplayBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: var(--pbrown);
  font-size: 20px;
}
.resultDisplayBottom .partnerRaffleItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% / 2);
  text-align: left;

}
.resultDisplayBottom .partnerRaffleItems img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.logoPagination {
  margin: 3px;
  border: 3px solid transparent;
  width: 60px;
  height: 60px;
}
.logoSelected {
  border: 3px solid red;
}
.logoPagination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.prevButton {
  background: url("/images/btn_back.webp") no-repeat center center/contain;
  height: 80px;
  width: 120px;
}
.nextButton {
  background: url("/images/eventResults/btn_next.webp") no-repeat center center/contain;
  height: 80px;
  width: 120px;
}
@media screen and (max-width: 900px) {
  .otherContainer {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  .otherContainer li {
    margin-bottom: 50px;
  }
  .otherContainer li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .resultDisplayTop {
    flex-direction: column;
    margin: 50px 0;
  }
  .otherContainer {
    flex-direction: column;
    max-height: none;
    width: 100%;
  }
  .otherContainer li {
    max-height: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    min-width: 200px;
  }
  .otherContainer .otherImageContainer {
    display: flex;
    justify-content: center;
  }
}