.notViewed p,
.viewed p {
  color: var(--pbrown);
}

.notViewed,
.viewed {
  text-align: left;
}
.notViewed {
  padding: 1.5rem 2rem 0 2rem;
}

.notViewed ul li::marker {
  content: "X";
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #cba26b;
  margin-right: 0.5rem;
}

.notViewed ul li {
  padding-left: 1rem;
}
.notViewed ul li:first-of-type {
  margin-bottom: 7.5rem;
}

.notViewed ul li p {
  font-size: 42px;
}

.notViewed div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.notViewed div .blockBtn {
  font-family: "BebasNeue", Arial;
  font-size: 18px;
  color: var(--pbrown);
  text-decoration: underline;
  height: fit-content;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}
@media screen and (max-width: 391px) {
  .notViewed div {
    justify-content: flex-end;
  }
  .notViewed div .blockBtn {
    margin-top: 1.5rem;
  }
}

.notViewed div .nextBtn {
  position: relative;
  width: 120px;
  height: 120px;
  background: url("../../static/ok-btn-normal.png") no-repeat center
    center/contain;
  margin-top: 1rem;
  border-radius: 60px 60px;
  float: right;
  cursor: pointer;
}
.notViewed div .nextBtn:hover {
  background: url("../../static/ok-btn-hover.png") no-repeat center
    center/contain;
}
.notViewed div .nextBtn:active {
  background: url("../../static/ok-btn-press.png") no-repeat center
    center/contain;
}
.notViewed div .nextBtn:before {
  content: "";
  position: absolute;
  bottom: 60px;
  right: -228px;
  width: 200px;
  height: 341px;
  background: url("../../static/feather.png") no-repeat center center/contain;
  transform: rotate(260deg) scaleY(-1);
}

.viewed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
  padding-block: 5rem;
}
@media screen and (max-width: 907px) {
  .viewed {
    padding-block: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .viewed {
    gap: 0.5rem 0;
    padding-block: 2rem;
  }
}
