.notViewed p,
.viewed p .viewed h4 {
  color: var(--pbrown);
}

.notViewed,
.viewed {
  text-align: left;
}
.notViewed {
  padding: 1.5rem 2rem 120px 2rem;
}
@media screen and (max-width: 766px) {
  .notViewed {
    padding: 3rem 0 120px 0;
  }
}

.notViewed ul li::marker {
  content: "X";
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #cba26b;
  margin-right: 0.5rem;
}

.notViewed ul li {
  padding-left: 1rem;
}
.notViewed ul li:first-of-type {
  margin-bottom: 7.5rem;
}

.notViewed ul li p {
  font-size: 42px;
}

.notViewed button {
  position: relative;
  width: 120px;
  height: 120px;
  background: url("../../static/ok-btn-normal.png") no-repeat center
    center/contain;
  margin-top: 1rem;
  border-radius: 60px 60px;
  float: right;
  cursor: pointer;
}
.notViewed button:hover {
  background: url("../../static/ok-btn-hover.png") no-repeat center
    center/contain;
}
.notViewed button:active {
  background: url("../../static/ok-btn-press.png") no-repeat center
    center/contain;
}
.notViewed button:before {
  content: "";
  position: absolute;
  bottom: 60px;
  right: -228px;
  width: 200px;
  height: 341px;
  background: url("../../static/feather.png") no-repeat center center/contain;
  transform: rotate(260deg) scaleY(-1);
}

.viewed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
  padding-block: 5rem;
}
@media screen and (max-width: 907px) {
  .viewed {
    padding-block: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .viewed {
    gap: 0.5rem 0;
    padding-block: 2rem;
  }
}
