.viewed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
  padding-block: 5rem;
}
@media screen and (max-width: 907px) {
  .viewed {
    padding-block: 3rem;
  }
}
@media screen and (max-width: 470px) {
  .viewed {
    gap: 0.5rem 0;
    padding-block: 2rem;
  }
}

.options .backBtn,
.options .moreBtn {
  position: relative;
  cursor: pointer;
  transition: 0.2s ease opacity;
}
.options .backBtn:hover,
.options .backBtn:active,
.options .moreBtn:hover,
.options .moreBtn:active {
  opacity: 0.65;
}
.options .backBtn:active {
  top: 3px;
}
.business {
  display: flex;
}
.options .backBtn {
  width: 150px;
  height: 120px;
  background: url("../../static/btn_back.png") no-repeat center center/contain;
}

.detailsHeader {
  display: flex;
  justify-content: center;
}
.businessTitle {
  text-align: left;
}
.detailsHeader img {
  height: 150px;
  width: 150px;
}

.detailsContent {
  display: flex;
  justify-content: center;
}
.detailsOptions {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.detailsOptions input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.detailsOptions label:has(> input[type="radio"]:checked) {
  color: white;
}
